:root{
    --dark-background:rgb(16, 29, 46);
    --dark-background-hover:rgb(42, 53, 66);
    --dark-colortext:rgb(190, 190,190);
    --dark-colortext-on:rgb(0,180,0);
    --light-background:var(--dark-colortext);
    --light-background-hover:rgb(219, 219, 219);
    --light-colortext: var(--dark-background);
    --color-battery-warming:rgb(175, 114, 0);
    --color-battery:var(--dark-colortext-on);

    --background-color: var(--dark-background);
    --background-hover:var(--dark-background-hover);
    --text-color:var(--dark-colortext);
}
*{
  user-select: none; 
  box-sizing: border-box;
}

body{
    width: 98vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap{
    position: relative;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 148px;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
    background: var(--background-color);
    transition: 0.2s;
}
.wrap-large{
    cursor:auto;
    height: 304px;
    padding: 12px;
    flex-direction: row;
}
.wrap:hover,
.wrap:hover .btn-circle-in{
    transition: 0;
    background: var(--background-hover);
}
.wrap-large:hover{
    background: var(--background-color);
}
.wrap.oncheck:hover .btn-circle-in{
    background: var(--background-hover);
}
.wrap.oncheck .btn-circle-out{
    transition: 0.5s;
    transition-delay: 0.1s;
    background: var(--dark-colortext-on);
}
.wrap.oncheck .wrap-icon{
    transition: 0.5s;
    transition-delay: 0.1s;
    color: var(--dark-colortext-on);
}
.wrap-icon{
    font-size: 60px;
    color: var(--text-color);
    font-weight: bold;
    height: 60px;
    z-index: 1;
}
.btn-circle-out{
    position: absolute;
    width: 128px;
    height: 128px;
    background:var(--text-color);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
}
.btn-circle-in{
    position: absolute;
    width: 108px;
    height: 108px;
    background: var(--background-color);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.wrap-checkbox{
    z-index: 1;
}
.wrap-checkbox input{
    position: absolute;
        -webkit-appearance: none;
        display: none;
        visibility: hidden;
}
.wrap-range{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
    border-radius: 16px;
}
.wrap-range .div{
    height: 200px;
    width: 48px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
}
.wrap-range .icon{
    position: absolute;
    z-index: 1;
    bottom: 56px;
    font-size: 24px;
    color: var(--background-color);
}
.highmode,.balance,.power{
    color: var(--text-color);
    font-size: 15px;
    font-weight: bold;
}
#highmode{
    top: 0px;
    position: absolute;
    z-index: 1;
    color: var(--text-color);
    transform: translateY(20%);
    font-size: 24px;
}
#balance {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: aliceblue;
    font-size: 24px;
    }
#power {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    color: aliceblue;
    transform: translateY(-20%);
    font-size: 24px;
    }
.range{
    transform: rotateZ(-90deg) ;
    transform-origin: 50% 50%;
    border-radius: 16px;
    width: 200px;
    height: 48px;
    -webkit-appearance: none;
    background: rgb(105, 105, 105);
    cursor: auto;
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative;
    height: 48px;
    width: 4px;
    cursor: pointer;
    border: var(--text-color) 1px solid;
    background: var(--text-color);
    z-index: 1;
    overflow: hidden;
    cursor: auto;
}
.wrap-perform-label{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
#perform {
    transform: rotateZ(-90deg);
    transform-origin: 50% 50%;
    border-radius: 16px;
    width: 200px;
    height: 48px;
    -webkit-appearance: none;
    background: rgb(105, 105, 105);
    cursor: auto;
    z-index: 1;
}
#perform::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: var(--text-color) 1px solid;
    background: var(--text-color);
    z-index: 1000;
    cursor: auto;
}
.progress{
    height: 48px;
    width: 48px;
    background: var(--text-color);
    position: absolute;
    bottom: 0px;
    z-index: 0;
}
#progressVolume{
    height: calc(200px* var(--value) / 200);
}
#progressBright{
    height: calc(200px* var(--value) / 200);
}
/* #progressPerform {
    height: calc(200px* var(--value) / 2);
} */
.label{
    display: block;
    width: 100px;
}
.wrap-wifi .label,
.wrap-bluetooth .label{
    margin-left: 60px;
}
.wifiCheckbox,
.bluetoothCheckbox{
    position: relative;
}
.wrap-checkbox label{
    position: relative;
    display: block;
    width: 48px;
    height: 24px;
    background: var(--text-color);
    cursor: pointer;
    border-radius: 24px;
    overflow: hidden;
    transition: ease-in 0.1s;
}
.wrap-checkbox label:before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background:var(--background-color);
    transition: ease-in 0.1s;
}

#wifiCheckbox:checked~.check-wifi,
#bluetoothCheckbox:checked~.check-bluetooth,
#webcamCheckbox:checked~.check-webcam,
#microCheckbox:checked~.check-micro,
#keypadCheckbox:checked~.check-keypad,
#planemodeCheckbox:checked~.check-planemode{
    background: var(--dark-colortext-on);
    color: var(--dark-colortext-on);
}
#wifiCheckbox:checked ~ .check-wifi::before,
#bluetoothCheckbox:checked~.check-bluetooth::before,
#webcamCheckbox:checked~.check-webcam::before,
#microCheckbox:checked~.check-micro::before,
#keypadCheckbox:checked~.check-keypad::before,
#planemodeCheckbox:checked~.check-planemode::before,
#darkCheckbox:checked~.check-dark::before {
    transform: translateX(24px);
}
.battery{
    position: absolute;
    width: 128px;
    height: 128px;
    background: var(--text-color);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    background: var(--background-color);
    transform-origin: 50% 0%;
    transform: rotateZ(90deg);
}
.battery circle{
    stroke-width: 20px;
    stroke: var(--color-battery);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (402 * var(--value))/100);
}
.darkCheckBox{
    position: absolute;
    top: -20px;
    right: 15px;
}
#volumeCover,#brightCover{
    position: absolute;
    height: 240px;
    width: 48px;
    background: transparent;
    z-index: 10;
}